@using Microsoft.AspNetCore.Components.Web
@namespace AplikacjaInzynierska.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="AplikacjaInzynierska.styles.css" rel="stylesheet" />
    <link rel="icon" type="image/x-icon" sizes="32x32" href="~/icon.ico" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
            Wystąpił błąd. Aplikacja może nie odpowiadać, dopóki nie zostanie odświeżona.
        </environment>
        <environment include="Development">
            Wystąpił nieobsługiwany wyjątek. Aby uzyskać szczegółowe informacje, sprawdź narzędzia deweloperskie przeglądarki.
        </environment>
        <a href="" class="reload">Odśwież</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    <script src="_content/ChartJs.Blazor.Fork/ChartJsBlazorInterop.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>

    <script>
        function ShowPDF(base64) {
            var fileBytes = base64;
            var fileType = "application/pdf";
            var fileName = "raport.pdf";

            var link = document.createElement("a");
            document.body.appendChild(link);
            link.download = fileName;
            link.href = "data:" + fileType + ";base64," + fileBytes;
            link.click();
            document.body.removeChild(link);
        }
    </script>
</body>
</html>
