@page "/accountcreatedsuccessfully";
<div class="row justify-content-md-center text-center">
    <div class="col-11 border p-3 mb-2 bg-light text-dark rounded">
        <p class="fs-4 fw-bold">Pomyślnie utworzono konto.</p>
            <NavLink href="/login">
                <button type="button" class="btn btn-success">Zaloguj się</button>
            </NavLink>
    </div>
</div>

@code {

}
