@page "/accountsettings"

<EditForm Model="model">
    <div class="row justify-content-md-center">
        <div class="col-5 border p-3 mb-2 bg-light text-dark text-center rounded">
            <p class="fs-4 fw-bold">
                Ustawienia konta
            </p>
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Imię</label>
                <InputText class="form-control" maxlength="40" @bind-Value="model.name" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nazwisko</label>
                <InputText class="form-control" maxlength="150" @bind-Value="model.surname" />
            </div>

           <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Email</label>
                <InputText class="form-control" maxlength="150" @bind-Value="model.email" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Stare hasło</label>
                <InputText type="password" class="form-control" @bind-Value="model.password" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nowe hasło</label>
                <InputText type="password" class="form-control" @bind-Value="model.newpassword" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Powtórz nowe hasło</label>
                <InputText type="password" class="form-control" @bind-Value="model.repeatpassword" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Data powiadomienia</label>
                <InputText class="form-control" type="date" @bind-Value="model.birthday" />
            </div>

            <!-- add file -->
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text">Zdjęcie profilowe</label>
                <InputFile class="form-control" />
            </div>

             <button type="button" class="btn btn-success">Zapisz</button>
        </div>
    </div>
    
    @*<p>
        <img src="images/user.jpg" zdjecie"/>
        <InputFile/>
    </p>

    <button>Edytuj dane</button>*@
</EditForm>

@code {
    Model model = new Model();

    class Model
    {
        public string? name { get; set; } = "name";
        public string? surname { get; set; } = "surname";
        public string? birthday { get; set; } = "2005, 01, 01";
        public string? email { get; set; } = "email@email.com";
        public string? password { get; set; }
        public string? newpassword { get; set; }
        public string? repeatpassword { get; set; }
    }
}
