@page "/groupsettings"
@using AplikacjaInzynierska.Data;
@using AplikacjaInzynierska.Services;
@inject GroupUserService groupUserService
@inherits OwningComponentBase<GroupUserService>
@inject Blazored.SessionStorage.ISessionStorageService session
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@using System.Security.Claims

@if (sc == null)
{
    <EditForm Model="model">
        <div class="row justify-content-md-center">
            <div class="col-5 border p-3 mb-2 bg-light text-dark text-center rounded">
                <p class="fs-4 fw-bold">
                    Tworzenie grupy
                </p>
                <div class="input-group mb-3">
                    <label class="col-sm-5 input-group-text" >Nazwa grupy</label>
                    <InputText class="form-control" maxlength="40" @bind-Value="model.groupname" />
                </div>

                <button type="button" class="btn btn-success">Utwórz grupę</button>
            </div>
        </div>
    </EditForm>
}
else
{
        <div class="row justify-content-md-center text-center">
            
            <div class="col-11 border p-3 mb-2 bg-light text-dark rounded">
                    <p class="fs-4 fw-bold">Ustawienia grupy</p>
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr class="fw-bold">
                                <td>Email</td>
                                <td>Imię</td>
                                <td>Nazwisko</td>
                                <td>Podgląd</td>
                            </tr>
                        </thead>

                        <tbody>
                    @foreach (var item in sc)
                    {
                                    <tr>
                                        <td>@item.email</td>
                                        <td>@item.name</td>
                                        <td>@item.surname</td>
                                        <td>
                                            <NavLink class="nav-link" href="/groupusersettings">
                                                <span class="material-icons" aria-hidden="true">search</span>
                                            </NavLink>
                                        </td>
                                    </tr>
                    }
                        </tbody>
                    </table>

                        <EditForm Model="model">
                            <div class="row justify-content-md-center">
                                <div class="col-5 mb-2 bg-light text-dark text-center rounded">
                                    <p class="fs-4 fw-bold">
                                        Dodawanie członka grupy
                                    </p>
                                    <div class="input-group mb-3">
                                        <label class="col-sm-5 input-group-text" >Email</label>
                                        <InputText class="form-control" maxlength="40" @bind-Value="model.email" />
                                    </div>

                                    <button type="button" class="btn btn-success" @onclick="Authenticate">Dodaj użytkownika</button>
                                </div>
                            </div>
                        </EditForm>
            </div>
        </div>
}

@code {

    Model model = new Model();

    class Model
    {
        public string? groupname { get; set; }
        public string? email { get; set; } = "";
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    public System.Collections.Generic.IList<GroupUserClass> sc;

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;

        var userInformation = groupUserService.GetByUserEmail(claimEmail);
        var id_group = userInformation.id_group;


        if (id_group == 0)
        {
            sc = null;
        }
        else
        {
            sc = Service.displayUsersGroup(id_group);
        }
    }

    async Task Authenticate()
    {
        if (model.email != "")
        {
            var authState = await authenticationState;
            var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
            var userInformation = groupUserService.GetByUserEmail(claimEmail);
            var id_group = userInformation.id_group;
            var userAccount = groupUserService.GetByUserEmail(model.email);
            if (userAccount == null)
            {
                js.InvokeVoidAsync("alert", "Konto pod tym adresem email nie istnieje!");
            }
            else
            {
                if (userAccount.id_group == 0)
                {
                    GroupUserClass gu = new GroupUserClass();
                    gu.id_user = userAccount.id_user;
                    gu.email = userAccount.email;
                    gu.id_group = id_group;
                    Service.AddUserGroup(gu);
                }
                else
                {
                    js.InvokeVoidAsync("alert", "Konto pod tym adresem email już jest przypisane do innej grupy!");
                }
            }
            
        }
        else
        {
            js.InvokeVoidAsync("alert", "Nie podano adresu email!");
            return;
        }
    }
}
