@page "/groupusersettings/{idUser:int}/{idGroup:int}"
@using AplikacjaInzynierska.Authentication;
@using AplikacjaInzynierska.Data;
@using AplikacjaInzynierska.Services;
@inherits OwningComponentBase<GroupUserService>
@inject NavigationManager navManager
@inject GroupUserService groupUserService
@inject LogsService logsService
@inject AuthenticationStateProvider authStateProvider;
@inject IJSRuntime js
@using System.Security.Claims


<EditForm Model="model">
    <div class="row justify-content-md-center">
        <div class="col-5 border p-3 mb-2 bg-light text-dark text-center rounded">
            <p class="fs-4 fw-bold">
                Ustawienia użytkownika: @model.email
            </p>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Imię</label>
                <InputText class="form-control" @bind-Value="model.name"/>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nazwisko</label>
                <InputText class="form-control" maxlength="250" @bind-Value="model.surname"/>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Email</label>
                <InputText class="form-control" @bind-Value="model.email" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Typ</label>
                <InputSelect class="form-select" @bind-Value="model.PermissionList" >
                    @foreach (var Permission in Enum.GetValues(typeof(PermissionList)))
                    {
                        <option value="@Permission">@Permission</option>
                    }
                </InputSelect>
            </div>

            <div>
                <button type="button" class="btn btn-success" @onclick="UpdateUser" >Edytuj użytkownika</button>
                <button type="button" class="btn btn-danger" @onclick="DeleteUser" >Usuń z grupy</button>
            </div>

        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int IdUser{ get; set; } = 0;
    [Parameter]
    public int IdGroup { get; set; } = 0;

    Model model = new Model();

    class Model
    {
        public PermissionList PermissionList { get; set; }
        public string? name { get; set; }
        public string? surname { get; set; }
        public string? email { get; set; }
    }

    enum PermissionList
    {
        Administrator,
        Użytkownik
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }
    LogsClass log = new LogsClass();

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationState;
        var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        var userInformation = groupUserService.GetByUserEmail(claimEmail);

        if (IdUser == userInformation.id_user)
        {
            var permission = userInformation.admin_group;
            if (permission == "Admin")
            {
                permission = "Administrator";
                model.PermissionList = (PermissionList)Enum.Parse(typeof(PermissionList), permission);
                model.name = userInformation.name;
                model.surname = userInformation.surname;
                model.email = userInformation.email;
            }
            else if (permission == "User")
            {
                permission = "Użytkownik";
                model.PermissionList = (PermissionList)Enum.Parse(typeof(PermissionList), permission);
                model.name = userInformation.name;
                model.surname = userInformation.surname;
                model.email = userInformation.email;
            }
        }
        else
        {
            if (IdGroup == userInformation.id_group)
            {
                userInformation = groupUserService.GetByUserIdUser(IdUser);
                var permission = userInformation.admin_group;
                if (permission == "Admin")
                {
                    permission = "Administrator";
                    model.PermissionList = (PermissionList)Enum.Parse(typeof(PermissionList), permission);
                    model.name = userInformation.name;
                    model.surname = userInformation.surname;
                    model.email = userInformation.email;
                }
                else if (permission == "User")
                {
                    permission = "Użytkownik";
                    model.PermissionList = (PermissionList)Enum.Parse(typeof(PermissionList), permission);
                    model.name = userInformation.name;
                    model.surname = userInformation.surname;
                    model.email = userInformation.email;
                }
            }
            else
            {
                model.name = "";
                model.surname = "";
                model.email = "";
            }
        }
    }

    async Task UpdateUser()
    {
        var userAccount = groupUserService.GetByUserEmail(model.email);
        var authState = await authenticationState;
        var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        var userInformation = groupUserService.GetByUserEmail(claimEmail);

        var dateNow = DateTime.Now.ToString("yyyy-MM-dd");
        var timeNow = DateTime.Now.ToString("HH:mm:ss");
        log.date = DateTime.Parse(dateNow).ToUniversalTime().AddDays(1);
        log.time = TimeOnly.Parse(timeNow);
        log.id_user = userAccount.id_user;

        if (userAccount == null)
        {
            js.InvokeVoidAsync("alert", "Konto pod tym adresem email już istnieje!");
        }
        else
        {
            GroupUserClass gu = new GroupUserClass();
            if (IdUser == userInformation.id_user)
            {
                var permission = model.PermissionList.ToString();
                if (permission == "Administrator")
                {
                    permission = "Admin";
                    gu.name = model.name;
                    gu.surname = model.surname;
                    gu.email = model.email;
                    gu.admin_group = permission;
                    Service.EditUserGroup(gu);
                    js.InvokeVoidAsync("alert", "Pomyślny update!");
                    log.event_log = "successful update account permisions (admin): " + gu.id_user;
                    logsService.AddNewEvent(log);
                    return;
                }
                else if (permission == "Użytkownik")
                {
                    permission = "User";
                    gu.name = model.name;
                    gu.surname = model.surname;
                    gu.email = model.email;
                    gu.admin_group = permission;
                    Service.EditUserGroup(gu);
                    js.InvokeVoidAsync("alert", "Pomyślny update!");
                    log.event_log = "successful update account permisions (user): " + gu.id_user;
                    logsService.AddNewEvent(log);
                    return;
                }
            }
            else
            {
                if (IdGroup == userInformation.id_group)
                {
                    var permission = model.PermissionList.ToString();
                    if (permission == "Administrator")
                    {
                        permission = "Admin";
                        gu.name = model.name;
                        gu.surname = model.surname;
                        gu.email = model.email;
                        gu.admin_group = permission;
                        Service.EditUserGroup(gu);
                        js.InvokeVoidAsync("alert", "Pomyślny update!");
                        log.event_log = "successful update account permisions (admin): " + gu.id_user;
                        logsService.AddNewEvent(log);
                        return;
                    }
                    else if (permission == "Użytkownik")
                    {
                        permission = "User";
                        gu.name = model.name;
                        gu.surname = model.surname;
                        gu.email = model.email;
                        gu.admin_group = permission;
                        Service.EditUserGroup(gu);
                        js.InvokeVoidAsync("alert", "Pomyślny update!");
                        log.event_log = "successful update account permisions (admin): " + gu.id_user;
                        logsService.AddNewEvent(log);
                        return;
                    }
                }
                else
                {
                    js.InvokeVoidAsync("alert", "Nie pomyślny update!");
                    log.event_log = "failed update account in group: " + model.email;
                    logsService.AddNewEvent(log);
                    return;
                }

            }
        }

    }

    void DeleteUser()
    {
        navManager.NavigateTo("/userdeletefromgroup/" + IdUser + "/" + IdGroup, true);
    }

}
