@page "/"
@inject IJSRuntime js

<PageTitle>Strona Główna</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Witaj, @context.User.Identity.Name!</h1>
        <span>
            Statystyki
        </span>
    </Authorized>
    <NotAuthorized>
        <h1>Opis strony!</h1>
        <span>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tempus id nibh eu fringilla. Duis ullamcorper dui purus, non gravida ante placerat ut. Mauris sodales eros imperdiet orci blandit, non auctor nulla sagittis. Etiam porta sollicitudin sapien non suscipit. Nullam quis imperdiet lacus. Cras mollis nec mi sed tempus. Nulla erat ipsum, faucibus nec rutrum quis, porttitor dictum nisl. Phasellus rhoncus sem ac felis vestibulum, eget vulputate purus lobortis.
            <br />
            Nunc eget tortor sed nisi bibendum sollicitudin feugiat a leo. Vivamus volutpat nunc in justo feugiat varius. Nunc semper, dolor quis fringilla facilisis, arcu metus faucibus odio, eget mollis urna odio sit amet tellus. Nullam eget ipsum sed velit finibus tincidunt. Mauris non dapibus nisi. Aenean vestibulum sem nibh. Cras semper ultrices aliquam. Nunc in mauris elit. Ut eu pulvinar elit, ut dictum quam. Donec vitae dolor eu nisl blandit posuere vitae id justo. Suspendisse vestibulum erat in mollis pulvinar. Pellentesque enim arcu, ultrices non nulla aliquam, consequat condimentum felis. Duis finibus, diam nec vehicula gravida, felis dui maximus arcu, vitae feugiat ex dolor at mauris.
            <br />
            Morbi rutrum turpis vel sodales interdum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Proin mollis arcu eget est faucibus malesuada. Suspendisse id eros vitae nibh eleifend maximus in eleifend enim. Curabitur rhoncus lacus odio, at porttitor magna sollicitudin ac. Fusce quis arcu leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aenean imperdiet dolor ante, et tempor felis luctus quis. Integer condimentum sagittis augue, in consectetur nisl facilisis eget. Proin aliquet, neque sed eleifend dictum, neque orci mattis dui, ac sodales ex tellus quis diam. Curabitur a consectetur eros.
            <br />
            Suspendisse laoreet gravida massa vel tristique. Aenean tellus ligula, facilisis eu ligula quis, lacinia elementum magna. Nam fringilla iaculis elementum. Aliquam venenatis purus libero, nec venenatis ex varius at. Sed gravida ante sed mi interdum semper. Sed tincidunt, nibh nec dignissim interdum, nisl turpis congue sapien, vel faucibus augue libero sed neque. Sed sem neque, molestie sit amet velit ut, aliquam fringilla enim. Praesent ullamcorper placerat nunc quis venenatis. Phasellus pharetra risus facilisis nulla tristique, sed rutrum eros ultrices. Duis laoreet quam felis, a tincidunt lacus commodo eget. Morbi accumsan erat egestas nibh sagittis, sed sollicitudin ligula imperdiet. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse et commodo urna.
            <br />
            Aenean blandit in quam in venenatis. Duis dapibus purus vitae sem rutrum eleifend. Fusce id pulvinar erat. Etiam bibendum dapibus eros vel suscipit. Quisque mollis posuere sollicitudin. Vivamus ac scelerisque ex, sit amet tincidunt metus. In in malesuada nulla, in fermentum orci. Sed malesuada eget orci vitae convallis. Cras quis nisl risus. Proin ut tortor iaculis, pellentesque lorem ut, dapibus erat. Morbi posuere arcu nibh, vel volutpat dolor maximus non. Pellentesque scelerisque a lacus id porta.
        </span>
        <SurveyPrompt Title="Aby w pełni korzystać z możliwości zaloguj się. Jeśli nie posiasz konta utwórz nowe." />
    </NotAuthorized>
</AuthorizeView>


@code{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task DisplayGreetingAlert()
    {
        var authState = await authenticationState;
        var message = $"Hello {authState.User.Identity.Name}";
        await js.InvokeVoidAsync("alert", message);
    }
}