@page "/newtransaction"
@using AplikacjaInzynierska.Authentication
@using AplikacjaInzynierska.Services
@using AplikacjaInzynierska.Data
@attribute [Authorize(Roles = "Admin, User")]
@inject TransactionService transactionService
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@inherits OwningComponentBase<TransactionService>
@inject Blazored.SessionStorage.ISessionStorageService session
@using System.Security.Claims

<datalist id="type_transaction">
    <option value="wydatek"></option>
    <option value="inwestycja"></option>
    <option value="przychód"></option>
</datalist>



<EditForm Model="model">
    <div class="row justify-content-md-center">
        <div class="col-5 border p-3 mb-2 bg-light text-dark text-center rounded">
            <p class="fs-4 fw-bold">
                Dodaj nową transakcję
            </p>
            
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nazwa transakcji</label>
                <InputText class="form-control" @bind-Value="model.name_transaction"/>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Opis</label>
                <InputTextArea class="form-control" maxlength="250" @bind-Value="model.description"/>
            </div>
    
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Kwota</label>
                <InputNumber class="form-control" min="0.00" step="0.01" @bind-Value="model.amount" />
                <label class="input-group-text">zł</label>
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Data transakcji</label>
                <InputDate class="form-control" @bind-Value="model.date_transaction" />
            </div>
    
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Typ</label>
                <InputSelect class="form-select" @bind-Value="model.ListTransactions" >
                    @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
                    {
                        <option value="@Transaction">@Transaction</option>
                    }
                </InputSelect>
            </div>
    
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Nazwa powiadomienia</label>
                <InputText class="form-control" maxlength="40" @bind-Value="model.name_notification" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Treść powiadmienia</label>
                <InputText class="form-control" maxlength="150" @bind-Value="model.description_notification" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Data powiadomienia</label>
                <InputDate class="form-control" @bind-Value="model.date_notification" />
            </div>

            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text" >Godzina powiadomienia</label>
                <input class="form-control" type="time" @bind="model.time_notification" />
            </div>
    
            <!-- add file -->
            <div class="input-group mb-3">
                <label class="col-sm-5 input-group-text">Załącznik</label>
                <InputFile class="form-control" />
            </div>

            <div>
                <button type="button" class="btn btn-success" @onclick="Authenticate">Dodaj transakcję</button>
            </div>

        </div>
    </div>

</EditForm>


@code {

    Model model = new Model();

    class Model
    {
        public ListTransactions ListTransactions { get; set; }
        public string? name_transaction { get; set; } = "";
        public string? description { get; set; } = "";
        public double amount { get; set; } = 0.00;
        public DateTime date_transaction { get; set; } = DateTime.Now.ToUniversalTime();
        public string? name_notification { get; set; } = "";
        public string? description_notification { get; set; } = "";
        public DateTime date_notification { get; set; } = DateTime.Now.ToUniversalTime();
        public TimeOnly time_notification { get; set; }
    }

    enum ListTransactions
    {
        Wydatek,
        Inwestycja,
        Przychód
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    TransactionsClass gu = new TransactionsClass();

    async Task Authenticate()
    {
        var authState = await authenticationState;
        var claimIdUser = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;

        gu.id_user = Int32.Parse(claimIdUser);
        gu.name_transaction = model.name_transaction;
        gu.description = model.description;
        gu.amount = model.amount;
        gu.date_transaction = model.date_transaction.ToUniversalTime();
        gu.type_transaction = $"{model.ListTransactions}";
        gu.name_notification = model.name_notification;
        gu.description_notification = model.description_notification;
        gu.date_notification = model.date_notification.ToUniversalTime();
        gu.time_notification = model.time_notification;
        await js.InvokeVoidAsync("alert", "Pomyślnie dodano nową transakcję!");
        Service.AddNewTransaction(gu);
        return;
    }
    
}