@page "/newtransaction"
@using AplikacjaInzynierska.Authentication
@using AplikacjaInzynierska.Services
@using AplikacjaInzynierska.Data
@attribute [Authorize(Roles = "Admin, User")]
@inject TransactionService transactionService
@inject UsersService userService
@inject LogsService logsService
@inject IJSRuntime js
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager
@using System.Security.Claims

<PageTitle>controlBudgetApp - Nowa transakcja</PageTitle>

<EditForm Model="model">
    <div class="row justify-content-md-center">
        <div class="col-xs-12 col-md-10 col-lg-9 col-xl-7 col-xxl-5 border p-3 mb-2 bg-light text-dark text-center rounded">
            <p class="fs-4 fw-bold">
                Dodaj nową transakcję
            </p>
            
            <div class="container d-none d-lg-block d-xl-block d-xxl-block">
                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 col-xxl-4 input-group-text" >Nazwa transakcji</label>
                    <InputText class="col-8 col-lg-7 col-xxl-8 form-control" @bind-Value="model.name_transaction"/>
                </div>

                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 col-xxl-4 input-group-text" >Opis</label>
                    <InputTextArea class="col-8 col-lg-7 col-xxl-8 form-control" maxlength="250" @bind-Value="model.description"/>
                </div>
    
                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 col-xxl-4 input-group-text" >Kwota</label>
                    <InputNumber class="col-8 col-lg-7 col-xxl-8 form-control rounded-0" min="0.00" step="0.01" @bind-Value="model.amount" />
                    <label class="input-group-text">zł</label>
                </div>

                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 col-xxl-4 input-group-text" >Data transakcji</label>
                    <InputDate class="col-8 col-lg-7 col-xxl-8 form-control" @bind-Value="model.date_transaction" />
                </div>
    
                <div class="input-group mb-3">
                    <label class="col-4 col-lg-5 col-xxl-4 input-group-text" >Typ</label>
                    <InputSelect class="col-8 col-lg-7 col-xxl-8 form-select" @bind-Value="model.ListTransactions" >
                        @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
                        {
                            <option value="@Transaction">@Transaction</option>
                        }
                    </InputSelect>
                </div>
    
                @*<!-- add file -->
                <div class="input-group mb-3">
                    <label class="col-sm-5 input-group-text">Załącznik</label>
                    <InputFile class="form-control" />
                </div>*@
            </div>

            <div class="container d-lg-none d-xl-none d-xxl-none">
                <div class="input-group mb-3">
                    <label class="col-12 input-group-text rounded" >Nazwa transakcji</label>
                    <InputText class="col-12 form-control rounded" @bind-Value="model.name_transaction"/>
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text rounded" >Opis</label>
                    <InputTextArea class="col-12 form-control rounded" maxlength="250" @bind-Value="model.description"/>
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text rounded" >Kwota</label>
                    <InputNumber class="col-12 form-control rounded-start" min="0.00" step="0.01" @bind-Value="model.amount" />
                    <label class="input-group-text">zł</label>
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text rounded" >Data transakcji</label>
                    <InputDate class="col-12 form-control rounded" @bind-Value="model.date_transaction" />
                </div>

                <div class="input-group mb-3">
                    <label class="col-12 input-group-text rounded" >Typ</label>
                    <InputSelect class="col-12 form-select rounded" @bind-Value="model.ListTransactions" >
                        @foreach (var Transaction in Enum.GetValues(typeof(ListTransactions)))
                        {
                                <option value="@Transaction">@Transaction</option>
                        }
                    </InputSelect>
                </div>
            </div>

            <div>
                <button type="button" class="btn btn-success" @onclick="AddTransaction">Dodaj transakcję</button>
            </div>

        </div>
    </div>

</EditForm>


@code {

   Model model = new Model();
   TransactionsClass tc = new TransactionsClass();
   LogsClass log = new LogsClass();

    class Model
    {
        public ListTransactions ListTransactions { get; set; }
        public string? name_transaction { get; set; } = "";
        public string? description { get; set; } = "";
        public double amount { get; set; } = 0.00;
        public DateTime date_transaction { get; set; } = DateTime.Now.ToUniversalTime();
    }

    enum ListTransactions
    {
        Wydatek,
        Inwestycja,
        Przychód
    }

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    async Task AddTransaction()
    {
        var authState = await authenticationState;
        var claimIdUser = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.NameIdentifier)?.Value;
        var claimEmail = authState.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email)?.Value;
        var userInformation = userService.GetByUserEmail(claimEmail);

        var dateNow = DateTime.Now.ToString("yyyy-MM-dd");
        var timeNow = DateTime.Now.ToString("HH:mm:ss");

        log.date = DateTime.Parse(dateNow).ToUniversalTime().AddDays(1);
        log.time = TimeOnly.Parse(timeNow);
        log.id_user = userInformation.id_user;


        tc.id_user = Int32.Parse(claimIdUser);
        tc.id_group = userInformation.id_group;
        tc.name_transaction = model.name_transaction;
        tc.description = model.description;
        tc.amount = model.amount;
        tc.date_transaction = model.date_transaction.ToUniversalTime().AddDays(1);
        tc.type_transaction = model.ListTransactions.ToString();
        transactionService.AddNewTransaction(tc);
        var topId = transactionService.showTopIdTransactionUser(userInformation.id_user);
        log.event_log = "added new transaction. ID: "+topId;
        logsService.AddNewEvent(log);
        await js.InvokeVoidAsync("alert", "Pomyślnie dodano nową transakcję!");
        navManager.NavigateTo("/listtransaction", true);
    }
    
}