@page "/passwordchange"

<h3>Zmiana hasła</h3>

<EditForm Model="model">
    <p>
        Stare hasło <InputText type="password" @bind-Value="model.old_password" />
    </p>

    <p>
        Nowe hasło <InputText type="password" @bind-Value="model.new_password" />
    </p>

    <p>
        Powtórz nowe hasło <InputText type="password" @bind-Value="model.repeat_new_password" />
    </p>

    <button>Zmień hasło</button>
</EditForm>

@model.old_password
@model.new_password
@model.repeat_new_password


@code {
    Model model = new Model();

    class Model
    {
        public string? old_password { get; set; }
        public string? new_password { get; set; }
        public string? repeat_new_password { get; set; }
    }

}
